.Main_Container {
  margin-top: 120px;
}

.LoadingContainer {
  margin-top: 120px;
  width: 100px;
  height: 100px;
  color: red;
}

.NoKeyword {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: var(--xlarge);
}

.Search_Result_Text_Container {
  display: flex;
  justify-content: center;
  padding: 52px 0 20px 0;
  border-bottom: 1px solid var(--gray-20);
}

.Search_Result_Text {
  font-size: var(--xlarge);
  color: rgb(17 24 39 / var(--tw-text-opacity));
  letter-spacing: -0.025em;
}

@media (max-width: 600px) {
  .Main_Container {
    margin-top: 100px;
  }
}

@media (max-width: 500px) {
  .Main_Container {
    margin-top: 80px;
  }
}
