.container {
  position: relative;
  z-index: inherit;
  width: 500px;
  background-color: var(--bg-white-00);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.range_input {
  margin-top: 20px;
}

.button_container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
  line-height: 1;
}

.cancel_button {
  padding: 10px 10px;
  border-radius: 4px;
  color: var(--black-20);
  margin-right: 15px;
}

.cancel_button:hover {
  background-color: var(--gray-10);
}

.change_button {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: rgb(12, 124, 221);
  color: white;
}
@media (max-width: 560px), (max-heigth: 640px) {
  .container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 10px;
  }
  .padding {
    padding: 5px 0;
  }
}
