.Products_Container {
  @apply py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8;
}

.Product_List_Container {
  width: calc(100% - 300px);
  float: right;
  overflow: scroll;
  height: 800px;
  @apply grid  gap-y-10 gap-x-6  grid-cols-4;
}
