.Nav_Container {
  height: 200px;
  display: flex;
  justify-content: center;
}

@media (max-width: 900px) {
  .Nav_Container {
    height: 230px;
  }
}
@media (max-width: 620px) {
  .Nav_Container {
    height: 260px;
  }
}
