.Nav_Contents_Container {
  width: 1000px;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 10px;
}

.Nav_Content {
  width: 190px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--medium);
  transition: all 0.3s;
  color: var(--green-60);
  text-transform: uppercase;
  display: inline-block;
}

.Nav_Content:after {
  display: block;
  content: '';
  border-bottom: solid 2px var(--green-60);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.Nav_Content:hover {
  color: var(--green-40);
}
.Nav_Content:hover:after {
  transform: scaleX(0.7);
}

@media (max-width: 900px) {
  .Nav_Contents_Container {
    height: 270px;
  }
}
