spring:
  profiles:
    active: local # ?? ???? ??? ??
    include: secret # ?????

logging:
  level:
    org:
      springframework:
        orm:
          jpa: DEBUG
server:
  servlet:
    encoding:
      force-response: true