.Header_DropDown_Container {
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.Header_DropDownList_Container {
  position: absolute;
}

.dropdown {
  display: flex;
  flex-direction: column;
  margin-left: -70px;
  border: 1px solid rgb(197, 197, 197);
  background: #fff;
  border-radius: 0.5rem;
}

.Drop_Down_Text {
  font-size: 16px;
  opacity: 0.7;
}

.Drop_Down_Button_Container {
  display: flex;
  justify-content: center;
  width: 158px;
  padding: 10px;
  border: 1px solid #767f42;
}

.Drop_Down_Button_Container:hover {
  color: #fff;
  background-color: #767f42;
  box-shadow: 0 4px 6px 0 rgb(185, 187, 157);
}
