.Search_Result_Text_Container {
  display: flex;
  justify-content: center;
  padding: 40px 0 0 0;
}

.Search_Result_Text {
  font-size: var(--xlarge);
  color: rgb(17 24 39 / var(--tw-text-opacity));
  letter-spacing: -0.025em;
}

.Search_Text_Container {
  width: 100%;
  height: 100px;
  background-color: red;
}
